@import url('https://fonts.googleapis.com/css?family=Exo+2:300,300i,700,800');

*{
    box-sizing: border-box;
    transition: all 0.3s;
}

a{
    color: #fff;
    text-decoration: none;
}

body{
    background: url(../img/background.jpg) top no-repeat #0A1012;
    background-size: 100%;
    
    color: #fff;
    font: 300 20px 'Exo 2', sans-serif;
}

.button{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00aee3+0,0065ea+99 */
    background: #00aee3; /* Old browsers */
    background: -moz-linear-gradient(45deg, #00aee3 0%, #0065ea 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #00aee3 0%,#0065ea 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #00aee3 0%,#0065ea 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#0065ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    
    display: block;    
    padding: 5px 25px;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    border-style: none;
}

.button:hover{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#0065ea+1,00aee3+100 */
    background: #0065ea; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #0065ea 1%, #00aee3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg,  #0065ea 1%,#00aee3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg,  #0065ea 1%,#00aee3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0065ea', endColorstr='#00aee3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

.container{
    width: 85%;
    margin: 0px auto;
}

header, .header{
    height: 90px;
    display: flex;
    align-items: center;
}

.header{
    justify-content: space-between;
}

/* Nawigacja */

nav {
    width: 40%;
}

nav ul {
    list-style: none;
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

nav ul li{
    display: inline-block;
}

nav a{
    display: block;
    padding: 5px 15px;
    border: 1px solid rgba(0,0,0,0);
    border-radius: 30px;
}


nav a:hover{
    border: 1px solid #00A0E3;
}

nav a:active{
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00aee3+0,0065ea+99 */
    background: #00aee3; /* Old browsers */
    background: -moz-linear-gradient(45deg, #00aee3 0%, #0065ea 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #00aee3 0%,#0065ea 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #00aee3 0%,#0065ea 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#0065ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* Nawigacja */

/* szukajka */


.search{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-search{
    /*background-color: rgba(0,160,227,0.1);*/
    background-color: rgba(255,255,255,0.1);
    width: 25%;
    padding: 5px 15px;
    border: 1px solid #00A0E3;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-right-style: none;
    color: #fff;
}

.button-search{
    height: 35px;
    width: 45px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #00A0E3;
    border-left-style: none;
    background-color: rgba(255,255,255,0.1);
    color: #fff;
    cursor:pointer;
}

/* szukajka */

/* galeria wydarzeń */
#koncerty, #festiwale, #wydarzenia{
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gallery, .popular{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.gallery-big, .gallery-small {
    background-size: cover;
    height: 200px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    align-items: flex-end;
}

.gallery-big:hover, .gallery-small:hover {
    box-shadow: 0px 0px 12px -1px rgba(69,143,255,1);
}

.gallery-big{
    width: 49.4%;
}

.gallery-small{
    width: 24%;
}

.gallery-big h3, .gallery-small h3, .date, .promotion h3{
    margin: 0px;
    width: 100%;
}

.date{
    font-size: 16px;
}

.popular-event{
    background-color: red;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    padding: 3px;
}

.more{
    margin: 0px auto;
}

.line{
    border-top: 1px solid rgba(69,143,255,1);
    border-bottom-style: none;
    width: 70%;
    margin: 15px auto;
}

/* galeria wydarzeń */

/* footer */
footer{
    width: 100%;
    background-color: #070a0b;
    margin-top: 30px;
    padding: 30px 0px;
    font-size: 16px;
}

.footer{
    display: flex;
    justify-content: space-between;
}

.footer-column{
    width: 24%;
    display: block;
}

.social{
    font-size: 28px;
    margin-right: 5px;
}

.social:hover{
    color: #0065ea;
}

footer ul{
    list-style: none;
    padding: 0px;
}

/* Promocja */
.promotion{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    margin: 30px 0px;    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#00aee3+0,0065ea+99 */
    background: #00aee3; /* Old browsers */
    background: -moz-linear-gradient(45deg, #00aee3 0%, #0065ea 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #00aee3 0%,#0065ea 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #00aee3 0%,#0065ea 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00aee3', endColorstr='#0065ea',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.promotion h3{
    text-align: center;
}

/* Promocja */

/* Filters */

.filters{
    display: none;
    margin-bottom: 20px;
}

.filters form{
    display: flex;
    justify-content: space-between;
}

.filters input{
    background: none;
    border: 1px solid #00aee3;
    color: #fff;
    font-size: 14px;
    padding: 3px;
}

/* Filters */

/* Login */
.main_login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_login .login, .register{
    background-color: #0f0f0f;
    width:50%;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.login_form, .login_alt{
    width: 49.5%;
    padding: 10px;
}

.input_login{
    background-color: #000;
    border: 1px solid #00aee3;
    color: #fff;
    font-size: 17px;
    padding: 3px;
    margin-bottom: 10px;
    width: 90%;
}

.login_alt img{
    height: 40px;
    margin: 5px auto;
    
}

.login_alt .button{
    text-align: center;
}

.register{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.register form span{
    display: block;
    margin-bottom: 20px;
}

.register input{
    width:100%;
}

.register input[type="radio"]{
    width:10%;
}